/* Getting the new tags to behave (just in case) */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

 /* -- modal transformation for videos to work -- */
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

		/* ======== CONTAINERS BODY HTML ======== */
html {position: relative;min-height:100%;}
body{margin:0px;width:100%;background-image: url("../images/grain.png");margin-bottom: 60px;}
.darkbody{background-image: url("../images/grain-inverted.png");}
.footer {position: absolute;padding-top:15px;text-align:center;bottom: 0;width: 100%;height: 60px;opacity:0.55;font-size:100%;}
.modal-body, .modal-content{width: 598px;height: 350px;margin:0 auto;}
.modal-content{background-image: url("../images/grain.png");}
.modal-dialog {padding-top: 15%;}
iframe {	width:567.5px;	height:319.5px;}

.row{
	-webkit-animation: fadein 10s; /* Safari and Chrome */
       -moz-animation: fadein 10s; /* Firefox */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera */
            animation: fadein 10s;
}
.modal-content{background-image: url("../images/grain.png");}
		/* ======== END OF CONTAINERS BODY HTML =========*/
	
	/* -- header -- */
.img-header{margin:75px auto;width:25%;min-width:185px;
	-webkit-animation: fadein 7s; /* Safari and Chrome */
       -moz-animation: fadein 7s; /* Firefox */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera */
            animation: fadein 7s;
}
.img-biskits{width:50%;}
	/* -- end of header -- */
	
	
	/* -- list of songs -- */
li img {width:75px;margin-right:5px;margin-bottom:4px;border:2px solid #fff;border-radius:5px;}
li{font-size:1.4em;}

.list-unstyled{padding-left:10%;margin-top:10%;margin-bottom:30%;
	-webkit-animation: fadein 10s; /* Safari and Chrome */
       -moz-animation: fadein 10s; /* Firefox */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera */
            animation: fadein 10s;
}
	/* -- end of list of songs -- */
	
	/* -- quote -- */
.quote{display:none;}
@media (min-width: 992px) {
	.quote{display:initial;float:right;margin-right:10%;border:1px solid #aaa;text-align:center;display: table-cell;
		-webkit-animation: fadein 7s; /* Safari and Chrome */
		   -moz-animation: fadein 7s; /* Firefox */
			-ms-animation: fadein 7s; /* Internet Explorer */
			 -o-animation: fadein 7s; /* Opera */
				animation: fadein 7s;
	}
	.dark{border-color:#472747;}
	.quote h2{margin:20px;font-size:2.5em;vertical-align:middle;}
}
	/* -- end of quote -- */

	
		/* ===== content left and right ===== */
.col-md-8 {text-align:center;width:100%;margin-bottom:30%;font-size:2em;
	-webkit-animation: fadein 7s; /* Safari and Chrome */
       -moz-animation: fadein 7s; /* Firefox */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera */
            animation: fadein 7s;
}
.pic-right-out, .pic-right-in {float:right;}
.pic-left-out, .pic-left-in {float:left;}
	.pic-right-in img{width:350px;padding-left:5%;}
	.pic-left-in img{width:350px;padding-right:5%;}
		/* ===== end of content left and right ===== */
	
	
			/* ===== bottom banner ===== */
	.col-xs-12 img {width:10%;margin-left:0.75%;margin-right:0.75%;}
@media (min-width: 750px){
	.col-xs-12 img {margin-left:1%;margin-right:1%;}
}
		/* ===== end of bottom banner ===== */
	
	
	/*-- back slider --*/
	.back{text-align:right;position:fixed;left:3%;top:-100px;
	-webkit-transition: all ease 0.3s;
	   -moz-transition: all ease 0.3s;
	    -ms-transition: all ease 0.3s;
		 -o-transition: all ease 0.3s;	
			transition: all ease 0.3s;
}
	.back img {width:100px;}
	.back h2{font-size:1.25em;margin-top:0px;}
	.back h2:hover{cursor:pointer;}
	.back:hover{top:0;}
.back-slider{margin:auto;}
	/*-- end of back slider --*/
	
	
	/* == low res design == */
@media only screen and (max-width: 450px) {
	.col-md-6 {border-bottom:1px solid #888;}
	.list-unstyled{margin-bottom:10%;}
	.list-unstyled h1 {font-size: 1.75em;}
	li {display:inline-table;}
	li a{display:none;}
	.col-xs-12 img {width:20%;margin-left:2.5%;}
	.footer {font-size: 0.5em;}
	.col-xs-12 h2{font-size:1.5em;}
	.modal-body, .modal-content{width: 310px;height: 190px;margin:0 auto;}
	.modal-dialog {padding-top:30%;margin:0;}
	iframe {width:280px;height:157.5px;}
}
@media only screen and (max-width: 768px) {
	.col-md-8{width:initial;margin-top:25%;margin-bottom:25%;margin-left:1%;margin-right:1%;padding:5%;font-size:1.35em;}
	.pic-right-out {padding-top:1%;text-align:right;}
	.pic-left-out {padding-bottom:1%;text-align:left;}
	.pic-right-in, .pic-left-in, .pic-right-out, .pic-left-out {float:none;clear:both;}
	.pic-right-in img, .pic-left-in img {padding: 0;width:100%;}
	.pic-left-in, .pic-right-in {}
}
@media only screen and (min-width:525px) and (max-width:768px) {
	.col-md-8 {font-size:1.75em;}
	.pic-right-in img{padding-left:20%;}
	.pic-left-in img {padding-right:20%;}
	.pic-right-out {margin-right:2%;text-align:right;}
	.pic-left-out {text-align:left;margin-left:2%;}
	.footer {font-size:0.75em;}
}
	/*== end of low res design ==*/
	
	

/* ----- fade in animation ----- */
@keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}
/* Firefox */
@-moz-keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}
/* Safari and Chrome */
@-webkit-keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}
/* Internet Explorer */
@-ms-keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}​
/* Opera */
@-o-keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}​
